<%= form_with(model: cert_profile, local: true) do |form| %>
  <% if cert_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cert_profile.errors.count, "error") %> prohibited this cert_profile from being saved:</h2>

      <ul>
      <% cert_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cert_profile_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
