= form_for current_user, as: :profile, url: password_profile_path do |f|
  .form-label-group
    = f.password_field :old_password, class: ["form-control", current_user.errors[:old_password].any? && "is-invalid"], required: true, placeholder: "Current Password"
    = f.label :old_password, "Current Password"
    - current_user.errors.messages[:old_password].each do |error|
      .invalid-feedback
        %i.fa.fa-exclamation
        = error

  .form-label-group
    = f.password_field :password, class: ["form-control", current_user.errors[:password].any? && "is-invalid"], required: true, placeholder: "New Password"
    = f.label :password, "New Password"
    - current_user.errors.messages[:password].each do |error|
      .invalid-feedback
        %i.fa.fa-exclamation
        = error

  .form-label-group
    = f.password_field :password_confirmation, class: ["form-control", current_user.errors[:password_confirmation].any? && "is-invalid"], required: true, placeholder: "New Password (confirmation)"
    = f.label :password_confirmation, "New Password (confirmation)"
    - current_user.errors.messages[:password_confirmation].each do |error|
      .invalid-feedback
        %i.fa.fa-exclamation
        = error

  .actions.row
    .col-md
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-key
        Update Your Password

    .col-md.text-right-md
      = link_to request.referer, class: "btn btn-light" do
        %i.fa.fa-arrow-left
        Back
