= form_tag nil, method: "post" do
  %fieldset
    %legend Encryption Key
    .form-group.row
      .col-md-10.offset-md-2
        = check_box_tag "profile_genpkey[usage][]", "encrypt", current_user.encrypt_key_pem.nil?, id: "profile_genpkey_usage_encrypt"
        = label_tag "profile_genpkey_usage_encrypt", "Enable"

    .form-group.row
      = label_tag "profile_genpkey[encrypt][algorithm]", "Algorithm", class: "col-md-2"
      = select_tag "profile_genpkey[encrypt][algorithm]", options_for_select(["RSA", "DSA", "ECDSA"]), class: "form-control col-md-10"

    .form-group.row
      = label_tag "profile_genpkey[encrypt][keysize]", "Key Size", class: "col-md-2"
      = text_field_tag "profile_genpkey[encrypt][keysize]", "3072", class: "form-control col-md-10"

    .form-group.row
      = label_tag "profile_genpkey[encrypt][curve]", "Curve (ECDSA only)", class: "col-md-2"
      = select_tag "profile_genpkey[encrypt][curve]", options_for_select(OpenSSL::PKey::EC.builtin_curves.map{|x| x[0]}), class: "form-control col-md-10"

  %fieldset
    %legend Signature Key
    .form-group.row
      .col-md-10.offset-md-2
        = check_box_tag "profile_genpkey[usage][]", "sign", current_user.sign_key_pem.nil?, id: "profile_genpkey_usage_encrypt"
        = label_tag "profile_genpkey_usage_encrypt", "Enable"

    .form-group.row
      = label_tag "profile_genpkey[sign][algorithm]", "Algorithm", class: "col-md-2"
      = select_tag "profile_genpkey[sign][algorithm]", options_for_select(["RSA", "DSA", "ECDSA"]), class: "form-control col-md-10"

    .form-group.row
      = label_tag "profile_genpkey[sign][keysize]", "Key Size", class: "col-md-2"
      = text_field_tag "profile_genpkey[sign][keysize]", "3072", class: "form-control col-md-10"

    .form-group.row
      = label_tag "profile_genpkey[sign][curve]", "Curve (ECDSA only)", class: "col-md-2"
      = select_tag "profile_genpkey[sign][curve]", options_for_select(OpenSSL::PKey::EC.builtin_curves.map{|x| x[0]}), class: "form-control col-md-10"

  .form-label-group
    = password_field_tag "profile_genpkey[password]", nil, class: ["form-control", current_user.errors[:password].any? && "is-invalid"], placeholder: "Confirm Password To Generate", required: true
    = label_tag "profile_genpkey[password]", "Confirm Password To Generate"
    - current_user.errors.messages[:password].each do |error|
      .invalid-feedback
        %i.fa.fa-exclamation
        = error

  .actions.row
    .col-md
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-sync-alt
        Generate
    .col-md.text-right-md
      = link_to request.referer, class: "btn btn-light" do
        %i.fa.fa-arrow-left
        Back
