!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pkimgr
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.middle-center
    = form_for :session, url: session_url do |f|
      %h1.h3.mb-3.font-weight-normal
        Please sign in

      - if @error
        .alert.alert-danger= @error

      = f.email_field :email, class: "form-control", placeholder: "Your e-mail address", required: true, value: @user.try(:email)
      = f.password_field :password, class: "form-control", placeholder: "Your password", required: true

      .checkbox.mb-3
        %label
          = f.check_box :remember_me
          Remember Me

      = f.submit value: "Login", class: "btn btn-primary btn-lg btn-block"
