= form_with(model: cert_signing_request, local: true) do |form|
  - if cert_signing_request.errors.any?
    #error_explanation
      %h2
        = pluralize(cert_signing_request.errors.count, "error")
        prohibited this cert_signing_request from being saved:
      %ul
        - cert_signing_request.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :subject_id
    = form.text_field :subject_id, id: :cert_signing_request_subject_id
  .field
    = form.label :profile_id
    = form.text_field :profile_id, id: :cert_signing_request_profile_id
  .field
    = form.label :pem
    = form.text_area :pem, id: :cert_signing_request_pem
  .actions
    = form.submit
