%p
  %strong Subject:
  = render @csr.subject
%p
  %strong Profile:
  = @csr.profile.name
%p
  %strong Pem:
  %code= simple_format(@csr.pem)
= link_to 'Edit', edit_cert_signing_request_path(@csr)
|
= link_to 'Back', cert_signing_requests_path
