= form_with(model: cert_profile_constraint, local: true) do |form|
  - if cert_profile_constraint.errors.any?
    #error_explanation
      %h2
        = pluralize(cert_profile_constraint.errors.count, "error")
        prohibited this cert_profile_constraint from being saved:
      %ul
        - cert_profile_constraint.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :profile_id
    = form.text_field :profile_id, id: :cert_profile_constraint_profile_id
  .field
    = form.label :type
    = form.text_field :type, id: :cert_profile_constraint_type
  .field
    = form.label :value
    = form.text_field :value, id: :cert_profile_constraint_value
  .actions
    = form.submit
