%p#notice= notice
%h1 Cert Profile Constraints
%table
  %thead
    %tr
      %th Profile
      %th Type
      %th Value
      %th{:colspan => "3"}
  %tbody
    - @cert_profile_constraints.each do |cert_profile_constraint|
      %tr
        %td= cert_profile_constraint.profile
        %td= cert_profile_constraint.type
        %td= cert_profile_constraint.value
        %td= link_to 'Show', cert_profile_constraint
        %td= link_to 'Edit', edit_cert_profile_constraint_path(cert_profile_constraint)
        %td= link_to 'Destroy', cert_profile_constraint, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cert Profile Constraint', new_cert_profile_constraint_path
