%p#notice= notice
%p
  %strong Profile:
  = @cert_profile_constraint.profile
%p
  %strong Type:
  = @cert_profile_constraint.type
%p
  %strong Value:
  = @cert_profile_constraint.value
= link_to 'Edit', edit_cert_profile_constraint_path(@cert_profile_constraint)
|
= link_to 'Back', cert_profile_constraints_path
