<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @cert_profile_constraint.profile %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cert_profile_constraint.type %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cert_profile_constraint.value %>
</p>

<%= link_to 'Edit', edit_cert_profile_constraint_path(@cert_profile_constraint) %> |
<%= link_to 'Back', cert_profile_constraints_path %>
