= form_with(model: certificate, local: true) do |form|
  - if certificate.errors.any?
    #error_explanation
      %h2
        = pluralize(certificate.errors.count, "error")
        prohibited this certificate from being saved:
      %ul
        - certificate.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :issuer_id
    = form.text_field :issuer_id, id: :certificate_issuer_id
  .field
    = form.label :subject_id
    = form.text_field :subject_id, id: :certificate_subject_id
  .field
    = form.label :profile_id
    = form.text_field :profile_id, id: :certificate_profile_id
  .field
    = form.label :pem
    = form.text_area :pem, id: :certificate_pem
  .field
    = form.label :revoked_at
    = form.datetime_select :revoked_at, id: :certificate_revoked_at
  .actions
    = form.submit
