%table.table.table-hover
  %thead
    %tr
      %th.visible-md #
      %th Name
      %th Issuer
      %th Subject
      %th Expiration
      %th

  %tbody
    - certificates.each do |cert|
      %tr
        %td.visible-md= cert.id
        %td= cert.name
        %td= render cert.issuer
        %td= render cert.subject
        %td
          %span.timetz= cert.expires.rfc2822
          = "(#{cert.expires.strftime('%b %Y')})"
        %td
          = link_to "Open", cert
          &nbsp;
          = link_to "Renew", renew_certificate_path(cert)
