%p#notice= notice
%p
  %strong Issuer:
  = @certificate.issuer
%p
  %strong Subject:
  = @certificate.subject
%p
  %strong Profile:
  = @certificate.profile
%p
  %strong Pem:
  %code= simple_format(@certificate.pem)
%p
  %strong Revoked at:
  = @certificate.revoked_at
= link_to 'Edit', edit_certificate_path(@certificate)
|
= link_to 'Back', certificates_path
