.row
  .col-md-9
    %h1.display-3
      = @certificate.name
    %h1.text-muted
      Issued By: #{render @certificate.issuer},
      For: #{render @certificate.subject}
  .col-md-3.text-right-md.align-bottom.buttons
    = link_to renew_certificate_path(@certificate), class: "btn btn-light" do
      %i.fa.fa-certificate
      Renew
    = link_to download_certificate_path(@certificate), class: "btn btn-light" do
      %i.fa.fa-cloud-download-alt
      Download

%code= @certificate.x509.to_text.gsub("\n", "<br/>").gsub(" ", "&nbsp;").html_safe
