= form_for @authority do |f|
  .row
    .col-lg.form-label-group
      = f.text_field :name, class: "form-control", placeholder: "Name", required: true, autofocus: true
      = f.label :name, "Name"

    .col-lg.form-label-group
      = f.email_field :email, class: "form-control", placeholder: "E-mail Address", required: true
      = f.label :email, "E-mail Address"

    .col-lg.form-label-group
      = f.text_field :website, class: "form-control", placeholder: "Website URL"
      = f.label :website, "Website URL"

  .row
    .col-md.form-label-group
      = f.password_field :password, class: "form-control", placeholder: "Password", required: true
      = f.label :password, "Password (of your authority)"

    .col-md.form-label-group
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password (again)", required: true
      = f.label :password_confirmation, "Password (again)"

  .row
    .col-md
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-plus
        Create An Authority

    .col-md.text-right-md
      = link_to authorities_path, class: "btn btn-light" do
        %i.fa.fa-arrow-left
        Back
