.cards
  - @authorities.each do |authority|
    .card.authority-card
      .card-header= authority.organization
      .card-body
        %h3.card-title= authority.name
        /%h6.card-subtitle.text-muted= authority.organization

        %p.card-text

        .links
          = link_to authority do
            %i.fa.fa-folder-open
            Open
          = link_to "mailto:#{authority.email}" do
            %i.fa.fa-envelope
            Email
          = link_to authority.website do
            %i.fa.fa-external-link-alt
            Website
          = link_to new_authority_cert_signing_request_path(authority) do
            %i.fa.fa-bolt
            Request

  = link_to new_authority_path, class: "card authority-card new-authority-card" do
    %i.fa.fa-plus
    New Authority
