<p id="notice"><%= notice %></p>

<h1>Authorities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
      <th>Sign key pem</th>
      <th>Encrypt key pem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorities.each do |authority| %>
      <tr>
        <td><%= authority.name %></td>
        <td><%= authority.email %></td>
        <td><%= authority.website %></td>
        <td><%= authority.sign_key_pem %></td>
        <td><%= authority.encrypt_key_pem %></td>
        <td><%= link_to 'Show', authority %></td>
        <td><%= link_to 'Edit', edit_authority_path(authority) %></td>
        <td><%= link_to 'Destroy', authority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authority', new_authority_path %>
