<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @authority.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @authority.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @authority.website %>
</p>

<p>
  <strong>Sign key pem:</strong>
  <%= @authority.sign_key_pem %>
</p>

<p>
  <strong>Encrypt key pem:</strong>
  <%= @authority.encrypt_key_pem %>
</p>

<%= link_to 'Edit', edit_authority_path(@authority) %> |
<%= link_to 'Back', authorities_path %>
