%h1.display-3= @authority.name

- unless @authority.encrypt_key_pem
  .alert.alert-warning
    %p This authority does not have any encryption key. Please generate or import one.

    = link_to "Import", keys_authority_path(@authority), class: "btn"
    = link_to "Generate", genpkey_authority_path(@authority), class: "btn"

- unless @authority.sign_key_pem
  .alert.alert-warning
    %p This authority does not have any signature key. Please generate or import one.

    = link_to "Import", keys_authority_path(@authority), class: "btn"
    = link_to "Generate", genpkey_authority_path(@authority), class: "btn"
