.row
  .col-md
    %h1.display-3
      = @authority.name
      %small
        = link_to edit_authority_path(@authority), class: "btn btn-light" do
          %i.fa.fa-pencil-alt
          Edit

        = link_to new_authority_cert_signing_request_path(@authority), class: "btn btn-light" do
          %i.fa.fa-bolt
          Request Certificate from us

%h3 Keys
= render "crypto_keys/table", keys: @authority.keys, owner: @authority

%h3 Certificates
= render "certificates/table", certificates: @authority.certificates

%h3 People
%table.table.table-hover
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @authority.users.each do |user|
      %tr
        %td= render user
        %td
          = link_to kick_user_authority_path(@authority, user_id: user.id), class: "btn", data: {method: "delete"} do
            %i.fa.fa-user-times
            Kick
    %tr
      %td{:colspan => "2"}
        = link_to invite_user_authority_path(@authority), class: "btn" do
          %i.fa.fa-user-plus
          Invite a new user


- if @authority.subject_requests.any?
  %h3 Requests You've Sent
  = render "cert_signing_requests/table_subject", csrs: @authority.subject_requests

- if @authority.issuer_requests.any?
  %h3 Requests To Be Signed
  = render "cert_signing_requests/table_issuer", csrs: @authority.issuer_requests, issuer: @authority
