%h1.display-3= @authority.name

- unless @authority.encrypt_key_pem
  .alert.alert-warning This authority does not have any encryption key. Please generate or import one.

- unless @authority.sign_key_pem
  .alert.alert-warning This authority does not have any signature key. Please generate or import one.

%div{:style => "margin-bottom: 1rem"}
  = link_to "Import Private Key", import_authority_path(@authority), class: "btn btn-light"
  = link_to "Generate Private Key", genpkey_authority_path(@authority), class: "btn btn-light"
  = link_to "Export Private Key", export_authority_path(@authority), class: "btn btn-light"
  = link_to "Request Certificate from us", new_authority_cert_signing_request_path(@authority), class: "btn btn-light"

= render "certificates/table", certificates: @authority.certificates
