= form_tag nil, method: "post" do
  .form-group
    = check_box_tag "authority_export[usage][]", "encrypt", nil, id: "authority_export_usage_encrypt"
    = label_tag "authority_export_usage_encrypt", "Encryption"
    = check_box_tag "authority_export[usage][]", "sign", nil, id: "authority_export_usage_sign"
    = label_tag "authority_export_usage_sign", "Signature"

  .form-label-group
    = password_field_tag "authority_export[password]", nil, class: ["form-control", @errors && @errors[:password] && "is-invalid"], placeholder: "Password"
    = label_tag "authority_export[password]", "Password"
    - if @errors && @errors[:password]
      .invalid-feedback= @errors[:password]

  .form-group
    %button.btn.btn-primary{:type => ":submit"}
      %i.fa.fa-share
      Export
