!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pkimgr
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/navbar"

    %main.container
      = render "layouts/flash"
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
