!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pkimgr
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.navbar-expand-md
      .container
        %button.navbar-toggler{:type => "button", :data => {:toggle => "collapse", :target => "navbar-content"}, :aria => {:controls => "navbar-content", :expanded => false, :label => "Toggle navigation"}}
          %span.navbar-toggler-icon

        = link_to root_path, class: "navbar-brand" do
          %i.fa.fa-users
          Pkimgr

        #navbar-content.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"

          %ul.navbar-nav
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"
            %li.nav-item= link_to "Test", "#", class: "nav-link"

    .container
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
